body {
    background: rgb(27,166,153);
    background: linear-gradient(90deg, rgba(27,166,153,1) 0%, rgba(39,126,26,1) 28%, rgba(40,123,17,1) 35%, rgba(41,121,9,1) 45%, rgba(37,129,31,1) 56%, rgba(0,212,255,1) 100%);
}

@keyframes animation-shadow {
    from {text-shadow: 3px 3px #44414187;}
    to {text-shadow: 3px 3px #44414183;}
}

@keyframes animation-container {
    0% {border: 3px solid rgb(21, 212, 37);}
    50% {border: 3px solid rgb(205, 218, 25);}
    100% {border: 3px solid rgb(128, 218, 25);}
}

h1 {
    color: white;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 2px 2px #44414187;
    animation-name: animation-shadow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.qrcode-container {
    border: 3px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 50px 50px 50px 50px;
    animation-name: animation-container;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.input-style {
    margin-top: 80px;
}

input[type=text] {
    font-weight: 100;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background-color: transparent;
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    animation-name: animation-container;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}